.margin-top-23{
    margin-top: 23px;
}
.background-color{
    background-color: #007bff;
    color: white;
}
.center{
    text-align:center
}
.curser_allowed{
    cursor: pointer;
}
.width-11{
    width: 11%;
}
.m-t-50{
    margin-top: 50px;
}
.curser_allowed{
    cursor: pointer;
}